<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <parameter name="browser" value="chrome"></parameter>
  <test thread-count="1" name="TestOne">
    <groups>
      <run>
        <include name="sanity" />
      </run>
    </groups>
    <classes>
      <class name="org.example.SeleniumTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
